<!DOCTYPE html>
<html lang="en">
<div style="height: 120%;">
   <head>
    <link href="./css/BigData.css" rel="stylesheet" type="text/css" />
    <link href="./css/Datacages_Homeindex.css" rel="stylesheet" type="text/css" />
    <link href="./css/ProgressBarWars.css" rel="stylesheet" type="text/css" />
    <link href="./css/index.css" rel="stylesheet" type="text/css" />
    <link href="./css/index01.css" rel="stylesheet" type="text/css" />
    <script src="./js/jquery.js"></script>
    <link href="./js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css" />
    <link href="./css/Security_operation.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="./js/artDialog/skins/default.css" type="text/css" />
    <script src="./js/laydate.js"></script>
    <script src="./js/Home_page.js"></script>
    <meta charset="UTF-8">
    <title>系统大屏</title>

</head>

<body>
    <div class="data_bodey">
        <div class="index_nav">
            <ul style="height: 30px; margin-bottom: 0px;">
            </ul>
            <div class="total_chose_box" style="display: none;"></div>
            <div class="clear"></div>
        </div>
        <div class="index_tabs">
            <!--安防运作-->
            <div class="inner" style="height: 109%;">

                <div class="center_cage expand-right" >

                    <div class="dataAllBorder01 cage_cl" style="margin-top: 3.5% !important; height: 56%; position: relative;">
                        <div class="dataAllBorder02" style="position: relative; overflow: hidden;">
                            <!--标题栏-->
                            <div class="map_title_box" style="height: 6%">
                                <div class="map_title_innerbox">
                                    <div class="map_title">实时网络</div>
                                </div>
                            </div>
                           
                            <!--动效显示-->
                            <div class="flasheffectoutbox" style="margin-top: -80px;">

                                <div style="margin-top: 3.5% !important; height: 62.7%; position: relative">
                                    <div class="line2 line"></div>
                                    <div class="line3 line"></div>
                                    <div class="line4 line"></div>
                                    <div class="line5 line"></div>
                                    <div class="line6 line"></div>

                                    <!--主动效-->
                                    <div class="maineffectoutbox circleeffectclass">
                                        <a href="" target="_blank">
                                            <img class="effectposition maindataeffect" src="img/maindataeffect.png">
                                            <div class="effectposition acrossremindeffectout"
                                                style=" width: 76px; height: 76px; margin: 9px;">
                                                <div class="acrossremindeffectin"
                                                    style="width: 68px; height: 68px; margin: 4px;"></div>
                                            </div>
                                            <img class="effectposition maindataspecialeffect"
                                                src="img/maindataspecialeffect.png">
                                            <img class="effectposition acrossremindeffecindex"
                                                src="img/maindataicon.png">
                                            <span class="stagetitle">监护程序</span>
                                        </a>
                                    </div>
                                    <!--卫星动效-->
                                    <div class="circleeffectclass aroundfunctioneffect" style="left: 254px;top: 135px;">
                                        <img class="effectposition arounddataeffect02" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex"
                                            src="img/xingzhengshenpi.png">
                                        <span class="stagetitle stagearoundtitle">194.147.220.22</span>
                                    </div>

                                    <div class="circleeffectclass aroundfunctioneffect"
                                        style="left: 190px;bottom: -100px;">
                                        <img class="effectposition arounddataeffect01" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex"
                                            src="img/baixingpaiAPP.png">
                                        <span class="stagetitle stagearoundtitle">117.18.237.29</span>
                                    </div>

                                    <div class="circleeffectclass aroundfunctioneffect"
                                        style="right: 405px;bottom:-130px;">
                                        <img class="effectposition arounddataeffect02" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex" src="img/baixingpaiAPP.png">
                                        <span class="stagetitle stagearoundtitle">104.16.124.74</span>
                                    </div>

                                    <div class="circleeffectclass aroundfunctioneffect"
                                        style="right: 243px;bottom: -20px;">
                                        <img class="effectposition arounddataeffect01" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex" src="img/12319rexian.png">
                                        <span class="stagetitle stagearoundtitle">5.90.173.115</span>
                                    </div>

                                    <div class="circleeffectclass aroundfunctioneffect" style="right: 294px;top: 79px;">
                                        <img class="effectposition arounddataeffect03" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex" src="img/zonghezhifa.png">
                                        <span class="stagetitle stagearoundtitle">165.15.26.221</span>
                                    </div>

                                    <div class="circleeffectclass decarround01" style="top: 218px;left: 92px;">
                                        <div class="acrossremindeffectin decarroundin01" style=" "></div>
                                    </div>
                                    <div class="circleeffectclass decarround01" style="top: 197px;right: 163px;">
                                        <div class="acrossremindeffectin decarroundin01" style=" "></div>
                                        <!-- <h4 style="color:aqua; margin-left: -40px; margin-top: 0px;">svchost.exe</h4> -->
                                        <span class="stagetitle stagearoundtitle" style="color:aqua; margin-left: -30px; margin-top: -40px;"></span>
                                    </div>
                                    
                                    <div class="circleeffectclass decarround02" style="top: 99px;right: 93px;">
                                        <div class="acrossremindeffectin decarroundin02" style=" "></div>
                                    </div>





                                </div>
                            </div>
                            <div class="flasheffectoutbox1">
                                <div style="margin-top: 3.5% !important; height: 62.7%; position: relative">
                                    <div class="line2 line"></div>
                                    <div class="line3 line"></div>
                                    <div class="line4 line"></div>
                                    <div class="line5 line"></div>
                                    <div class="line6 line"></div>

                                    <!--主动效-->
                                    <div class="maineffectoutbox circleeffectclass">
                                        <a href="" target="_blank">
                                            <img class="effectposition maindataeffect" src="img/maindataeffect.png">
                                            <div class="effectposition acrossremindeffectout"
                                                style=" width: 76px; height: 76px; margin: 9px;">
                                                <div class="acrossremindeffectin"
                                                    style="width: 68px; height: 68px; margin: 4px;"></div>
                                            </div>
                                            <img class="effectposition maindataspecialeffect"
                                                src="img/maindataspecialeffect.png">
                                            <img class="effectposition acrossremindeffecindex"
                                                src="img/maindataicon.png">
                                            <span class="stagetitle">监护程序</span>
                                        </a>
                                    </div>
                                    <!--卫星动效-->
                                    <div class="circleeffectclass aroundfunctioneffect" style="left: 254px;top: 135px;">
                                        <img class="effectposition arounddataeffect02" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex"
                                            src="img/xingzhengshenpi.png">
                                        <span class="stagetitle stagearoundtitle">52.71.57.184</span>
                                    </div>

                                    <div class="circleeffectclass aroundfunctioneffect"
                                        style="left: 190px;bottom: -100px;">
                                        <img class="effectposition arounddataeffect01" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex"
                                            src="img/12319rexian.png">
                                        <span class="stagetitle stagearoundtitle">11.216.91.49</span>
                                    </div>

                                    <div class="circleeffectclass aroundfunctioneffect"
                                        style="right: 405px;bottom:-130px;">
                                        <img class="effectposition arounddataeffect02" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex" src="img/zonghezhifa.png">
                                        <span class="stagetitle stagearoundtitle">191.91.17.54</span>
                                    </div>

                                    <div class="circleeffectclass aroundfunctioneffect"
                                        style="right: 243px;bottom: -20px;">
                                        <img class="effectposition arounddataeffect01" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex" src="img/12319rexian.png">
                                        <span class="stagetitle stagearoundtitle">25.133.7.93</span>
                                    </div>

                                    <div class="circleeffectclass aroundfunctioneffect" style="right: 294px;top: 79px;">
                                        <img class="effectposition arounddataeffect03" src="img/aroundeffect.png">
                                        <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                                            <div class="acrossremindeffectin acrossremindeffectinard"></div>
                                        </div>
                                        <img class="effectposition acrossremindeffecindex" src="img/zonghezhifa.png">
                                        <span class="stagetitle stagearoundtitle">65.200.109.59</span>
                                    </div>

                                    <div class="circleeffectclass decarround01" style="top: 218px;left: 92px;">
                                        <div class="acrossremindeffectin decarroundin01" style=" "></div>
                                    </div>
                                    <div class="circleeffectclass decarround01" style="top: 197px;right: 163px;">
                                        <div class="acrossremindeffectin decarroundin01" style=" "></div>
                                    </div>
                                    <div class="circleeffectclass decarround02" style="top: 99px;right: 93px;">
                                        <div class="acrossremindeffectin decarroundin02" style=" "></div>
                                    </div>





                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="dataAllBorder01 cage_cl" style="margin-top: 0.6% !important; height: 35.1%;">
                        <div class="dataAllBorder02" id="map_title_innerbox">
                            <div class="map_title_box">
                                <div class="map_title_innerbox">
                                    <div class="map_title" style="background-image: url(img/second_title.png);">数据分析</div>
                                </div>

                            </div>
                            <table id="table" style="width: 100%"></table>
                        </div>

                        <div class="dataAllBorder02" id="map_title_innerbox1" style="display: none; position: relative;">
                            <div class="map_title_box">
                                <div class="map_title_innerbox">
                                    <div class="map_title" style="background-image: url(img/second_title.png);">xxxxx条件扫描</div>
                                </div>
                            </div>
                            <ul class="tab_msg_box">
                                <li class="tab_msg tab_msg01 tab_msg_current">xxxxx</li>
                                <li class="tab_msg tab_msg02">xxx</li>
                            </ul>
                            <div class="table1">
                                <table id="table1" style="width: 100%"></table>
                            </div>
                            <div class="table2" style=" display: none;">
                                <table id="table2" style="width: 100%;"></table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="right_cage">
                    <!--顶部切换位置-->
                    <div class="dataAllBorder01 cage_cl" style="margin-top: 9% !important; height: 24%">
                        <div class="dataAllBorder02" id="cage_cl">
                            <div class="analysis">持续守护您（小时）：</div>
                            <ul class="data_show_box">
                                <li class="data_cage">0</li>
                                <li class="data_cage">0</li>
                                <li class="data_cage" style="background-image: none;">,</li>
                                <li class="data_cage">1</li>
                                <li class="data_cage">5</li>
                                <li class="data_cage">2</li>
                                <style>
                                    .data_show_box {
                                        padding-top: 0px;
                                    }
                                    .data_cage{
                                        /* 背景图随大小自动拉伸 */
                                        background-size: 100% 78%;
                                    }
                                </style>
                            </ul>
                            <div class="depart_number_box">
                                <ul class="depart_number_cage">
                                    <li class="depart_name">捕捉节点：</li>
                                    <li class="depart_number">3,573</li>
                                </ul>
                                <ul class="depart_number_cage">
                                    <li class="depart_name">收集日志：</li>
                                    <li class="depart_number">10,081</li>
                                </ul>
                                <ul class="depart_number_cage" style="margin-bottom: 0px;">
                                    <li class="depart_name">捕获事件：</li>
                                    <li class="depart_number">6,320</li>
                                </ul>
                                <ul class="depart_number_cage" style="margin-bottom: 0px;">
                                    <li class="depart_name">捕获异常：</li>
                                    <li class="depart_number">564</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dataAllBorder02 over_hide" id="cage_cl1" style="display: none">
                            <div class="analysis">点位基础信息：</div>
                            <ul class="location_msg_box">
                                <li class="location_msg01 location_single">事件级别：<a href="#" style="color: #dc0000;">一级</a></li>
                                <li class="location_msg02 location_single">事件级别：化学气体泄漏</a>
                                </li>
                                <li class="location_msg02 location_double">案发时间：<a href="#" style="color: #cdd6db;">2017-09-10<br>11:40</a></li>
                                <li class="location_msg01 location_double">地址：北京市成华区一环路南三段45#</a>
                                </li>
                                <li class="location_msg01 location_single" style="width: 100%; height: 40%">案件关联：“131”抢劫、2014-05-13火灾、2013-12-08毒气 泄漏。</a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="dataAllBorder01 cage_cl check_decrease" style="margin-top: 1.5% !important; height: 32%; position: relative;">
                        <div class="dataAllBorder02 over_hide" style="padding: 1.2%;">
                            <div class="analysis">连接事件占比：</div>
                            <div class="danger_contain_box" style="margin-bottom:5% !important;">
                                <div id="container_huan" style="height: 90%;width: 100%"></div>
                            </div>
                            <div class="danger_depart_box">

                                <ul class="danger_depart">
                                    <li class="danger_ico" style="background-image: url(img/images/pic_ico_01.png); background-position-x: 0px"></li>
                                    <li class="data_name">今日日志量</li></li>
                                    <li class="data data01">3272</li>
                                    <li class="data data02">↑&nbsp&nbsp1.2%</li>
                                </ul>
                                <ul class="danger_depart">
                                    <li class="danger_ico" style="background-image: url(img/images/pic_ico_02.png); background-position-x: 0px"></li>
                                    <li class="data_name">今日ip数量</li>
                                    <li class="data data01">2146</li>
                                    <li class="data data02">↑&nbsp&nbsp7%</li>
                                </ul>

                            </div>

                        </div>
                    </div>

                    <div class="dataAllBorder01 cage_cl" style="margin-top: 1.5% !important; height: 35%; position: relative;">
                        <div class="dataAllBorder02" style="padding: 1.2%; overflow: hidden">

                            <div class="message_scroll_box">
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level01">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">156+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">svchost.exe</a> -->
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level01">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">164+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">svchost.exe</a> -->
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level02" style="background-color: #dc0000;">告警</span></span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">33+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_msg" style="background-color: #dc0000;" >39.156.66.10 -> 251.106.58.235</a>
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level01">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">45+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">svchost.exe</a> -->
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level02" style="background-color: #dc0000;">告警</span></span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">62+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_msg" style="background-color: #dc0000;" >71.123.247.67 -> 231.206.214.134</a>
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level03">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">134+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">edge.exe</a> -->
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level02" style="background-color: #dc0000;">告警</span></span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">45+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_msg" style="background-color: #dc0000;" >125.16.201.152 -> 80.169.139.95</a>
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level01">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">56+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">svchost.exe</a> -->
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level01">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">96+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">svchost.exe</a> -->
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level01">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">87+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">svchost.exe</a> -->
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level02" style="background-color: #dc0000;">告警</span></span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">87+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_msg" style="background-color: #dc0000;" >88.35.168.1 -> 51.199.93.215</a>
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level01">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">235+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">svchost.exe</a> -->
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level01">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">66+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">svchost.exe</a> -->
                                    </div>
                                </div>
                                <div class="message_scroll">
                                    <div class="scroll_top">
                                        <span class="scroll_title">日志捕获提醒</span>
                                        <span class="scroll_level scroll_level01">安全</span>
                                        <a class="localize"></a>
                                        <span class="scroll_timer">2024-07-25</span>
                                    </div>
                                    <div class="msg_cage">
                                        <a class="localize_title" style="font-size: 20px;">35+</a>
                                    </div>
                                    <div class="msg_cage">
                                        <!-- <a class="localize_msg">svchost.exe</a> -->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="scroll_tool_outbox">
                            <div class="scroll_tool_box">
                                <a class="scroll_tool" href="#">查看历史推送</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="./js/echarts-all.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/bstable/js/bootstrap.min.js"></script>
    <script src="./js/bstable/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="./js/jquery.pagination.js"></script>
    <script src="./js/bstable/js/bootstrap-table-zh-CN.min.js"></script>


    <!--<script src="js/MainMap.js"></script>-->
    <script src="./js/Home_page.js"></script>
    <script src="./js/artDialog/artDialog.js"></script>
    <script src="./js/artDialog/plugins/iframeTools.source.js"></script>
    <script>
        var number;
        $(function() {
            if (window.screen.height <= 768) {
                number = 4;
            } else if (window.screen.height > 768 && window.screen.height <= 900) {
                number = 6
            } else if (window.screen.height > 1080) {
                number = 8
            }
        });


        //    翻页模块
        $(".tcdPageCode").createPage({
            pageCount: 5,
            current: 1,
            backFn: function(p) {}
        });
        $(".chemistry_tcdPageCode").createPage({
            pageCount: 4,
            current: 1,
            backFn: function(p) {}
        });
        $(".enterprise_tcdPageCode").createPage({
            pageCount: 4,
            current: 1,
            backFn: function(p) {}
        });
        $(".car_tcdPageCode").createPage({
            pageCount: 4,
            current: 1,
            backFn: function(p) {}
        });

        $(function() {
            $(".tit02Diva a").each(function(index) {
                $(this).on("click", function() {
                    $(".data_map").eq(index).fadeIn().siblings(".data_map").stop().hide();
                    $(this).prev('i').removeClass('i_crlieAction');
                    $(this).siblings('a').prev('i').addClass('i_crlieAction');

                })
            });
            BootstrapTable();
            Echarts();
            $("#fresh_tool").click(function(event) {
                event.stopPropagation();
                cancel();
            })

        });

        function EventClick() {
            BootstrapTable();
        }

        function cancel(e) {
            $(".check_increase").removeClass("check_increase_act");
            $("#over_hide").show().siblings().hide();
            $(".check_decrease").show();
            $("#cage_cl").show();
            $("#cage_cl1").hide();
            //        $("#cage_cl").show();
            //        $("#over_hide1").show();
            //        $("#map_title_innerbox").show();
            BootstrapTable();
        }

        //    地址检索
        $(".addition_check_btn").click(function() {
            $(".check_increase").addClass("check_increase_act");
            $(".check_decrease").hide()
            $(".addition_check_in").show().siblings().hide()
        });

        //    危化品检索
        function chemistryCheck() {
            $(".check_increase").addClass("check_increase_act");
            $(".check_decrease").hide()
            $("#chemistry_check_in").show().siblings().hide()
        }

        //    企业检索
        function enterpriseCheck() {
            $(".check_increase").addClass("check_increase_act");
            $(".check_decrease").hide()
            $("#enterprise_check_in").show().siblings().hide()
        }

        //    车辆检索
        function carCheck() {
            $(".check_increase").addClass("check_increase_act");
            $(".check_decrease").hide()
            $("#car_check_in").show().siblings().hide()
        }

        function BootstrapTable() {
            $('#table').bootstrapTable({
                method: "get",
                striped: true,
                singleSelect: false,
                url: "output.json",
                dataType: "json",
                pagination: true, //分页
                pageSize: 5,
                pageNumber: 1,
                search: false, //显示搜索框
                contentType: "application/x-www-form-urlencoded",
                queryParams: null,
                columns: [
                    {
                        title: '日志序号',
                        field: 'id',
                        width:20,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: '捕获时间',
                        field: "log_time",
                        align: 'center',
                        valign: 'middle',
                        width:20,
                    },
                    {
                        title: '事件类型',
                        field: "event",
                        align: 'center',
                        width:20,
                    },
                    {
                        title: '源主机',
                        field: 'source_host',
                        width:20,
                        align: 'center'
                    },{
                        title: '源用户',
                        field: 'source_user',
                        width:20,
                        align: 'center'
                    },{
                        title: '目的主机',
                        field: 'destination_host',
                        width:20,
                        align: 'center'
                    },{
                        title: '目的用户',
                        field: 'destination_user',
                        width:20,
                        align: 'center'
                    },
                    {
                        title: '认证方式',
                        field: "connection_method",
                        width:20,
                        align: 'center'
                    }

                ]
            });
        }

        function Echarts() {
            var myChart = echarts.init($("#container_huan")[0]);
            var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['认证失败', '连接', '会话关闭', '会话开启'],
                    textStyle: {
                        color: "#e9ebee"
                    }
                },
                series: [{
                    name: '行业数据',
                    type: 'pie',
                    center: ['80%', '50%'],
                    radius: ['50%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            label: {
                                show: false
                            },
                            labelLine: {
                                show: false
                            }
                        }
                    },
                    data: [{
                        value: 700,
                        name: '认证失败'
                    }, {
                        value: 1424,
                        name: '连接'
                    }, {
                        value: 724,
                        name: '会话关闭'
                    }, {
                        value: 724,
                        name: '会话开启'
                    }]
                }]
            };
            myChart.setOption(option);
        }


        function TimeControl() {
            $(".message_scroll_box").animate({
                    marginTop: 96
                }, 800,
                function() {
                    $(".message_scroll_box").css({
                        marginTop: 0
                    }); //把顶部的边界清零
                    $(".message_scroll_box .message_scroll:first").before($(".message_scroll_box .message_scroll:last")); //在第一个新闻后面插入最后一个新闻

                });
        }
        var T = setInterval(TimeControl, 10000); //开始定时
        $(".message_scroll_box").mouseenter(function() {
                clearInterval(T); //停止定时
            })
            .mouseleave(function() {
                T = setInterval(TimeControl, 10000); //再次定时
            })
    </script>

    <!--轨迹回放时间日期选择-->
    <script>
        ! function() {
            laydate.skin('danlan'); //切换皮肤，请查看skins下面皮肤库
            laydate({
                elem: '#demo'
            });
            laydate({
                elem: '#demo1'
            }); //绑定元素
        }();
        //日期范围限制
        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD',
            min: laydate.now(),
            max: '2099-06-16',
            istime: true,
            istoday: false,
            choose: function(datas) {
                start.max = datas; //结束日选好后，充值开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);

        function edit() {
            layer.open({
                type: 2,
                title: '存储详情',
                shade: 0.5,
                skin: 'layui-layer-rim',
                area: ['700px', '400px'],
                shadeClose: true,
                closeBtn: 1,
                content: 'saveFindTail.html'
            });
        }
    </script>

    <script>
        var salesMyChart = echarts.init($("#container1")[0]);
        option = {




            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },

            visualMap: {
                show: false,
                min: 80,
                max: 600,
                inRange: {
                    colorLightness: [0, 1]
                }
            },
            series: [{
                name: '数据传输量',
                type: 'pie',
                radius: '55%',
                center: ['50%', '50%'],
                data: [{
                    value: 335,
                    name: '系统一'
                }, {
                    value: 310,
                    name: '系统二'
                }, {
                    value: 274,
                    name: '系统三'
                }, {
                    value: 235,
                    name: '系统四'
                }, {
                    value: 400,
                    name: '系统五'
                }].sort(function(a, b) {
                    return a.value - b.value;
                }),
                roseType: 'radius',
                label: {
                    normal: {
                        textStyle: {
                            color: 'rgba(255, 255, 255, 0.5)'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function(idx) {
                    return Math.random() * 200;
                }
            }]
        };
        salesMyChart.setOption(option);
    </script>


</body> 
</div>


</html>