{% extends 'base_page.html' %}
{% block title %}
    检测结果
{% endblock %}
{% block nav %}
<nav class="iq-sidebar-menu">
    <ul id="iq-sidebar-toggle" class="side-menu">
        <li class="sidebar-layout">
            <a href="/dashboard" class="svg-icon">
                <i class="">
                    <svg class="svg-icon" id="iq-chart-1" width="18" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
                            style="stroke-dasharray: 96, 116; stroke-dashoffset: 0;"></path>
                    </svg>
                </i>
                <span class="ml-2">系统大屏</span>
            </a>
        </li>
        <li class="sidebar-layout">
            <a href="/index" class="svg-icon">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">主页</span>
            </a>
        </li>
        <li class="px-3 pt-3 pb-2 ">
            <span class="text-uppercase small font-weight-bold">网络结构</span>
        </li>
        <li class="sidebar-layout">
            <a href="/nodeMap" class="svg-icon ">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">动态图谱</span>
            </a>
        </li>
        <li class=" sidebar-layout">
            <a href="/logCollect" class="svg-icon">
                <i>
                    <svg class="svg-icon" id="iq-form-1" width="18" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                            style="stroke-dasharray: 74, 94; stroke-dashoffset: 0;"></path>
                    </svg>
                </i>
                <span class="ml-2">日志收集</span>
            </a>
        </li>
        <li class=" sidebar-layout">
            <a href="/networkControl" class="svg-icon">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">网络控制</span>
            </a>
        </li>
        <li class="px-3 pt-3 pb-2">
            <span class="text-uppercase small font-weight-bold">系统操作</span>
        </li>
        <li class=" sidebar-layout">
            <a href="/threatEnhancement" class="svg-icon">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z">
                        </path>
                    </svg>
                </i><span class="ml-2">威胁增强</span>
            </a>
        </li>
        <li class=" sidebar-layout">
            <a href="/detection" class="svg-icon">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z">
                        </path>
                    </svg>
                </i><span class="ml-2">攻击高效检测</span>
            </a>
        </li>
        <li class=" sidebar-layout">
            <a href="/forecast" class="svg-icon">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z">
                        </path>
                    </svg>
                </i><span class="ml-2">智能推理预测</span>
            </a>
        </li>
        <li class="sidebar-layout">
            <a href="#app1" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">结果展示</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon iq-arrow-right arrow-active"
                    width="15" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 5l7 7-7 7"></path>
                </svg>
            </a>
            <ul id="app1" class="submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="active sidebar-layout">
                    <a href="/detectionResult" class="svg-icon">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none"
                                viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z">
                                </path>
                            </svg>
                        </i><span class="">检测结果</span>
                    </a>
                </li>
                <li class=" sidebar-layout">
                    <a href="/forecastResult" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none"
                                viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z">
                                </path>
                            </svg>
                        </i><span class="">预测结果</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12">
          Here Add Your HTML Content.....
       </div>
    </div>
 </div>
{% endblock %}