{% extends 'base_page.html' %}
{% block title %}
    网络控制
{% endblock %}
{% block nav %}
<nav class="iq-sidebar-menu">
    <ul id="iq-sidebar-toggle" class="side-menu">
        <li class="sidebar-layout">
            <a href="/dashboard" class="svg-icon">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">系统大屏</span>
            </a>
        </li>
        <li class="sidebar-layout">
            <a href="/index" class="svg-icon">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">主页</span>
            </a>
        </li>
        <li class="px-3 pt-3 pb-2 ">
            <span class="text-uppercase small font-weight-bold">网络结构</span>
        </li>
        <li class="sidebar-layout">
            <a href="/nodeMap" class="svg-icon ">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">动态图谱</span>
            </a>
        </li>
        <li class=" sidebar-layout">
            <a href="/logCollect" class="svg-icon">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">日志收集</span>
            </a>
        </li>
        <li class="active sidebar-layout">
            <a href="/networkControl" class="svg-icon">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">网络控制</span>
            </a>
        </li>
        <li class="px-3 pt-3 pb-2">
            <span class="text-uppercase small font-weight-bold">系统操作</span>
        </li>
        <li class=" sidebar-layout">
            <a href="/threatEnhancement" class="svg-icon">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                        </path>
                    </svg>
                </i><span class="ml-2">威胁增强</span>
            </a>
        </li>
        <li class=" sidebar-layout">
            <a href="/detection" class="svg-icon">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                        </path>
                    </svg>
                </i><span class="ml-2">攻击高效检测</span>
            </a>
        </li>
        <li class=" sidebar-layout">
            <a href="/forecast" class="svg-icon">
                <i class="">
                    <svg class="svg-icon" id="iq-user-1-1" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z">
                        </path>
                    </svg>
                </i><span class="ml-2">智能推理预测</span>
            </a>
        </li>
        <li class="sidebar-layout">
            <a href="#app1" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z">
                        </path>
                    </svg>
                </i>
                <span class="ml-2">结果展示</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon iq-arrow-right arrow-active"
                    width="15" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 5l7 7-7 7"></path>
                </svg>
            </a>
            <ul id="app1" class="submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class=" sidebar-layout">
                    <a href="/detectionResult" class="svg-icon">
                        <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none"
                                viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4">
                                </path>
                            </svg>
                        </i><span class="">检测结果</span>
                    </a>
                </li>
                <li class=" sidebar-layout">
                    <a href="/forecastResult" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none"
                                viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4">
                                </path>
                            </svg>
                        </i><span class="">预测结果</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        
        <div class="col-lg-12">
            <div class="d-flex flex-wrap align-items-center justify-content-between my-schedule mb-4">
               <div class="d-flex align-items-center justify-content-between">
                    <h4 class="font-weight-bold">Product</h4>
                </div>  
                <div class="create-workform">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="modal-product-search d-flex">
                            <form class="mr-3 position-relative">
                                <div class="form-group mb-0">
                                <input type="text" class="form-control" id="exampleInputText" placeholder="Search Product">
                                <a class="search-link" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </a>
                                </div>
                            </form>
                            <a href="product-add.html" class="btn btn-primary position-relative d-flex align-items-center justify-content-between">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                </svg>
                                Add Product
                            </a>
                        </div>                            
                    </div>
                </div>                    
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-block card-stretch">
                        <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center p-3">
                                <h5 class="font-weight-bold">Products List</h5>
                                <button class="btn btn-secondary btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
                                    </svg>
                                    Export
                                </button>
                            </div>
                            <div class="table-responsive">
                                <table class="table data-table mb-0">
                                    <thead class="table-color-heading">
                                        <tr class="text-light">
                                            <th scope="col">
                                                <label class="text-muted m-0">Product Name</label>
                                            </th>
                                            <th scope="col">
                                                <label class="text-muted mb-0">Category</label>
                                            </th>
                                            <th scope="col" class="text-right">
                                                <label class="text-muted mb-0">Price</label>
                                            </th>
                                            <th scope="col">
                                                <label class="text-muted mb-0">Quantity</label>
                                            </th>
                                            <th scope="col">
                                                <label class="text-muted mb-0">Inventory</label>
                                            </th>
                                            <th scope="col" class="text-right">
                                                <span class="text-muted">Action</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/17.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">Bassheads 220 Wired Headset</span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                        Molten Orange, In the Ear
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Headset  </td>
                                            <td class="text-right">
                                                $74.98
                                            </td>
                                            <td>
                                                45
                                            </td>
                                            <td>
                                                <p class="mb-0 text-success font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#3cb72c"></circle></svg>
                                                    </small>In Stock
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/15.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">SDDDC2-256G-I35 256 GB OTG </span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                        Black, Type A to Type C
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>OTG Pendrive</td>
                                            <td class="text-right">
                                                $109.00
                                            </td>
                                            <td>
                                                25
                                            </td>
                                            <td>
                                                <p class="mb-0 text-success font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#3cb72c"></circle></svg>
                                                    </small>In Stock
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/21.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">360 Deg 1080p Security Camera</span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                        Wifi Smart
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Camera</td>
                                            <td class="text-right">
                                                $749.49
                                            </td>
                                            <td>
                                                02
                                            </td>
                                            <td>
                                                <p class="mb-0 text-warning font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#db7e06"></circle></svg>
                                                    </small>Limited
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/4.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">Ryzen 5 Quad Core 3500U Thin Laptop</span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                        8 GB/512 GB SSD/Windows 10 Home
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Laptop</td>
                                            <td class="text-right">
                                                $2,499.99
                                            </td>
                                            <td>
                                                10
                                            </td>
                                            <td>
                                                <p class="mb-0 text-success font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#3cb72c"></circle></svg>
                                                    </small></small>In Stock
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/8.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">M10 FHD Plus with Active Pen Tablet</span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                         (2nd Gen) 10.3 inches
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Tablet</td>
                                            <td class="text-right">
                                                $962.49
                                            </td>
                                            <td>
                                                00
                                            </td>
                                            <td>
                                                <p class="mb-0 text-danger font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#F42B3D"></circle></svg>
                                                    </small>Out Of Stock
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/51.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">Stone Portable Bluetooth Speaker</span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                        Black, Stereo Channel
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Speaker</td>
                                            <td class="text-right">
                                                $599.99
                                            </td>
                                            <td>    
                                                80
                                            </td>
                                            <td>
                                                <p class="mb-0 text-success font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#3cb72c"></circle></svg>
                                                    </small>In Stock
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/7.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">EO Wooden Card Pen Drive </span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                        16 GB, White 
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Pendrive</td>
                                            <td class="text-right">
                                                $89.22
                                            </td>
                                            <td>
                                                05
                                            </td>
                                            <td>
                                                <p class="mb-0 text-warning font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#db7e06"></circle></svg>
                                                    </small>Limited
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/16.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">Airpods With Wireless Charging Case</span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                        Noise Cancellation, True Wireless 
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Headset</td>
                                            <td class="text-right">
                                                $229.9
                                            </td>
                                            <td>
                                                00
                                            </td>
                                            <td>
                                                <p class="mb-0 text-danger font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#F42B3D"></circle></svg>
                                                    </small>Out Of Stock
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/6.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">HP v150W PENDRIVE</span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                        64 GB (Blue, Black)
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Pendrive</td>
                                            <td class="text-right">
                                                $39.99
                                            </td>
                                            <td>
                                                30
                                            </td>
                                            <td>
                                                <p class="mb-0 text-success font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#3cb72c"></circle></svg>
                                                    </small>In Stock
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="white-space-no-wrap">
                                            <td class="">
                                                <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                    <div class="h-avatar is-medium">
                                                        <img class="avatar rounded" alt="user-icon" src="static/picture/12.jpg">
                                                    </div>
                                                    <div class="data-content">
                                                        <div>
                                                        <span class="font-weight-bold">FivePlus Nord 5G</span>                           
                                                        </div>
                                                        <p class="m-0 mt-1">
                                                        (12GB RAM, 256GB Storage)
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Mobile</td>
                                            <td class="text-right">
                                                $2,399.99
                                            </td>
                                            <td>
                                                80
                                            </td>
                                            <td>
                                                <p class="mb-0 text-success font-weight-bold d-flex justify-content-start align-items-center">
                                                    <small><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewbox="0 0 24 24" fill="none">                                                
                                                    <circle cx="12" cy="12" r="8" fill="#3cb72c"></circle></svg>
                                                    </small>In Stock
                                                </p>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}